$colorLightPrimary                : #fffcf3;
$colorLightPrimary                : #bbb6a6;
$colorLightSecondary              : #fbfbfb;
$colorLightThird                  : #CCCCCC;

$colorDarkPrimary                 : #202020;
$colorDarkSecondary               : #444444;
$colorDarkThird                   : #495057;

$colorBluePrimary                  : #007CC7;
$colorBlueSecondary               : #61DAFB;

$colorPurpleSecondary               : #313552;;

$colorGrayPrimary                 : #e8e9ec;

$colorYellowPrimary               : rgba(#FFDF6C, 0.5);
$colorYellowPrimary               : #8E6E18;
$colorYellowSecondary             : #FFBE58;

$colorGreenPrimary                : #448700;

$colorRedPrimary                  : #870000;