$colorLightPrimary                : #fffcf3;
$colorLightSecondary              : #fbfbfb;
$colorLightThird                  : #CCCCCC;

$colorDarkPrimary                 : #202020;
$colorDarkSecondary               : #444444;
$colorDarkThird                   : #495057;

$colorBluePrimary                 : #007CC7;
$colorBlueSecondary               : #61DAFB;

$colorPurpleSecondary               : #313552;;

$colorGrayPrimary                 : #e8e9ec;

$colorYellowPrimary               : #FFDF6C;
$colorYellowSecondary             : #FFBE58;

$colorGreenPrimary                : #448700;

$colorRedPrimary                  : #870000;