@import '../../../scssVars';

$colorButtonText                  : $colorDarkPrimary;
$colorButtonTextHover             : $colorLightPrimary;
$colorButtonFilledText            : $colorLightPrimary;

$colorButtonBorder                : $colorDarkPrimary;
$colorButtonBorderHover           : $colorBluePrimary;

$backgroundButtonHover            : $colorBluePrimary;
$backgroundButtonFilled           : $colorBluePrimary;
$backgroundButtonFilledHover      : $colorBlueSecondary;

.button {
  position: relative;
  display: inline-block;
  min-height: 40px;
  padding: 8px 24px;
  overflow: hidden;
  color: $colorYellowPrimary!important;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  background: transparent;
  border: 1px solid $colorYellowPrimary;
  border-radius: $borderRadiusPrimary;
  cursor: pointer;
  transition: background $transitionDurationPrimary $transitionFunctionSecondary,
  border-color, $transitionDurationPrimary $transitionFunctionSecondary;

  &:hover {
    color: $colorDarkPrimary!important;
    //background: rgba($colorLightSecondary, 0.1);
    background: $colorBluePrimary;
    border-color: $colorBluePrimary;
  }

  &:active {
    background: darken($colorBluePrimary, 10%);
  }

  &_inverse {
    color: $colorDarkPrimary!important;
    background: $colorLightPrimary;
    border-color: $colorLightPrimary;

    &:hover {
      //background: darken($colorLightPrimary, 20%);
      background: $colorBluePrimary;
      //border-color: darken($colorLightPrimary, 20%);
      border-color: $colorBluePrimary;
    }
  }
}
