@import '../../../scssVars';

.scrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index:200;
  transition: opacity .1s ease;

  @media only screen and ($laptopsMin) {
    left: 50px;
    right: unset;
    bottom: 50px;
  }

  .btn {
    min-height: 30px;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    box-shadow: none!important;
    color: $colorYellowPrimary;
    border: 1px solid $colorYellowPrimary;
    background: transparent;
    transition: background  $transitionDurationPrimary $transitionFunctionPrimary,
    border-color $transitionDurationPrimary $transitionFunctionPrimary;
    cursor: pointer;

    &:hover {
      color: $colorDarkPrimary!important;
      background: $colorBluePrimary;
      border-color: $colorBluePrimary;
    }
  }
}