body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}
html.scroll-disable {
  overflow: unset;

  body {
    overflow: hidden;
  }
}

.site-inner {
  display: flex;
  flex-direction: column;

  &.scroll-disable {
    margin-right: 17px;
  }
}

main {
  overflow: hidden;
  background: transparent;
  margin-bottom: $step16;

  @media screen and ($phonesMax) {
    margin-bottom: 30px;
  }
}

.page-section {
  margin-bottom: $step16;

  &:last-child {
    margin-bottom: 0;
  }
}

.wrapper {
  width: 100%;
  max-width: $containerWidth;
  margin-right: auto;
  margin-left: auto;
  padding: $paddingWrapperDesktop;
  @media only screen and ($phonesMax) {
    max-width: 100%;
    padding: $paddingWrapperMobile;
  }
  @media only ($smallTabletsMin) and ($smallTabletsMax) {
    max-width: 720px;
  }
  @media only ($largeTabletsMin) and ($largeTabletsMax) {
    max-width: 960px;
    padding: $paddingWrapperLaptops;
  }
}

ul, menu, ol, section, figure, aside {
  margin: 0;
  padding: 0;
}


/*Кастомный скроллбар*/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 0 0 15px 6px $colorDarkPrimary;
}

::-webkit-scrollbar-thumb {
  background: $colorPurpleSecondary;
  background-size: 100% 200%;
  background-position: 0;
  background-origin: padding-box;
  border-radius: 8px;
  border: 1px solid darken($colorPurpleSecondary, 10%);
  transition: background-position .3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-position:  0 100%;
}


