.checkboxes {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 280px;
  overflow: hidden!important;

  &_full {
    max-height: unset;
  }

  &__inner {
    display: flex;
    width: 100%;
    max-width: 129px;
    padding: 8px 0;
  }

  &__input {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    margin: -1px;
    opacity: 0;
    pointer-events: none;
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: $colorLightPrimary;
    border: 1px solid $colorGrayPrimary;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .3s ease;
  }

  &__icon {
    color: transparent;
    font-size: $size12px;
    transition: .3s ease;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 110px;
    margin-left: 10px;
    padding-right: 16px;
    font-size: $size14px;
    line-height: 1.2;
    transform: translateY(-50%);
  }

  &__input:checked ~ label {
    background-color: $colorBluePrimary;

  }
  &__input:checked ~ label i {
    color: $colorLightPrimary;
  }

  &__show {
    font-size: $size12px;
  }
}