@import './../../../../scssVars';

.Form {
  position: relative;
  width: 100%;
  background: $colorDarkPrimary;
  padding: $step12 0;

  text-align: left;

  &__formRow {
    display: flex;
  }

  &__formCol {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
}
