@import '../../../scssVars';

$colorLink: $colorLightPrimary;
$colorLinkHover: $colorBlueSecondary;

$linkSize: $size16px;

.Contacts {
  display: flex;
  padding: $size10px 0;

  @media only screen and ($laptopsMin) {
    flex-direction: column;
    font-size: get-vw(20px);
  }

  &__icon {
    width: $size18px;
    height: $size18px;
    margin: 2px 6px 0 0;

    @media only screen and ($largeTabletsMax) {
      width: $size24px;
      height: $size24px;
    }

    use {
      fill: $colorBluePrimary;
      transition: fill $transitionDurationPrimary $transitionFunctionPrimary;
    }
  }

  &__text {
    display: none;

    @media only screen and ($laptopsMin) {
      display: inline-block;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 4px;
    font-size: $linkSize;
    white-space: nowrap;

    &:hover {
      .Contacts__icon use {
        fill: $colorBlueSecondary;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}



