@import '../../../scssVars';

$colorLink: $colorLightPrimary;
$colorLinkHover: $colorBlueSecondary;

$linkSize: $size16px;

.Contacts {
  display: flex;
  padding: $size10px 0;

  @media only screen and ($laptopsMin) {
    flex-direction: column;
    font-size: get-vw(20px);
  }


  &__link {
    display: flex;
    align-items: center;
    font-size: $linkSize;
    white-space: nowrap;
  }

  &__icon {
    width: $size18px;
    height: $size18px;
    margin-right: 10px;

    @media only screen and ($largeTabletsMax) {
      width: $size24px;
      height: $size24px;
    }

    use {
      fill: $colorBluePrimary;

    }
  }

  &__text {
    display: none;

    @media only screen and ($laptopsMin) {
      display: inline-block;
    }
  }
}



